<div class="container">
    <div class="d-flex justify-content-center mt-3 mb-4">
        <p class="text-center h2">School Management System</p>
    </div>
    <div class="row mb-5">
        <div class="col-md-4 mb-4">
            <div class="card ">
                <div class="card-body ">
                    <h4 class="card-title text-center">Tutorial-01</h4>
                    <p class="card-text text-center">Routing and Navigation</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center"> Tutorial-02</h4>
                    <p class="card-text text-center">Routing with Parameter and<br> Property, Event Binding</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Tutorial-03</h4>
                    <p class="card-text text-center">Template Driven form and<br> inserting records in mongodb</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Tutorial-04</h4>
                    <p class="card-text text-center">Angular Project Product Catalog Module</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center"> Tutorial-05</h4>
                    <p class="card-text text-center">Angular Integration Testing</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Tutorial-06</h4>
                    <p class="card-text text-center">Authentication and Authorization</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Tutorial-07</h4>
                    <p class="card-text text-center">Angular Animations</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center"> Tutorial-08</h4>
                    <p class="card-text text-center">Angular Services Dependency Injection</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Tutorial-09</h4>
                    <p class="card-text text-center">Deploying an Angular App</p>
                </div>
            </div>
        </div>
    </div>
</div>